<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="description" content="实时省级、市级疫情地图" />
  <meta property="og:description" content="实时省级、市级疫情地图：数据一览，可交互" />
  <meta property="og:title" content="实时疫情地图" />
  <meta property="og:image" content="https://i.loli.net/2020/01/26/W5qOaTdD7yLsj6z.jpg" />
  <title>实时疫情地图</title>
  <script src="https://cdnjs.de2670dd.top/ajax/libs/echarts/4.6.0/echarts.min.js"></script>
  <script src="https://cdnjs.de2670dd.top/ajax/libs/echarts/4.6.0/extension/bmap.min.js"></script>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak="></script>
  <script src="/assets/perCity.js"></script>
  <script src="/assets/perProv.js"></script>
  <style>
    pre {
      white-space: pre-wrap;
      white-space: -moz-pre-wrap;
      word-wrap: break-word;
      font-size: 1.2em;
    }
    .single-errlog {
      margin: 4px 0;
    }
    .yellow {
      color: rgb(255, 154, 0);
    }
    body {
      color: white;
      background-color: black;
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
    }
    a {
      color: rgb(0, 219, 219);
    }
  </style>
</head>
<body>
  <pre id="about" style="margin: 0 0 1px 0; color: #ccc; display: none;">@jiejiss <a href="https://github.com/JieJiSS/wh-2019-ncov-live-status">view code on GitHub</a></pre>
  <pre>为李文亮医生默哀。</pre>
  <div id="loading">
    <pre>Loading...<br />This may take several seconds.<br/>Data source: 3g.dxy.cn</pre>
  </div>
  <div>
    <pre id="info" style="margin: 2px 0;"></pre>
  </div>
  <div id="city" style="width: 90vw; height: 90vh;"></div>
  <div style="height: 2%;"></div>
  <div id="prov" style="width: 90vw; height: 90vh;"></div>
  <div style="height: 2%;"></div>
  <div id="errlog-wrap" style="word-wrap: break-word; white-space: normal; width: 70vw; display: none;">
    <pre style="font-weight: bold;">错误提示：</pre>
    <pre id="errlog"></pre>
  </div>
  <div id="news-wrap" style="word-wrap: break-word; white-space: normal; width: 70vw;">
    <pre style="font-weight: bold;">疫情新闻速递：</pre>
    <pre id="news"></pre>
  </div>
  <script>
    if(!location.hostname.includes("de2670dd")) {
      $_("about").style.display = "";
    }
    window.isMobile = window.innerHeight > window.innerWidth;

    function $_(id) {
      return document.getElementById(id);
    }
    function debounce(func, ms, immediate) {
      var timeout;
      return function() {
        var context = this, args = arguments;
        var later = function() {
          timeout = null;
          if (!immediate) func.apply(context, args);
        };
        var callNow = immediate && !timeout;
        clearTimeout(timeout);
        timeout = setTimeout(later, ms);
        if (callNow) func.apply(context, args);
      };
    };

    function safeHTML(text) {
      return text.replace(/&/g, "&amp;").replace(/>/g, "&gt;").replace(/</g, "&lt;");
    }

    function errlog(name, displayName, parentName, desc, reason) {
      var html = "{n}（简化前：{p} {d}：{desc}）";
      html = html
        .replace("{n}", name)
        .replace("{p}", parentName)
        .replace("{d}", displayName)
        .replace("{desc}", desc);
      
      if(html.includes("<br />")) {
        var prefix = "\t".repeat(2);
        if(window.isMobile) {
          prefix = " ".repeat(4);
        }
        html = html.replace(/<br\s\/>/g, "\n" + prefix + parentName + " ");
      }

      html = "<span class=\"yellow\">警告：</span>" + safeHTML(html);
      html += "<span class=\"yellow\">" + safeHTML(reason) + "！</span>";

      var existErrlogs = $_("errlog").querySelectorAll("div");

      for(var i = 0; i < existErrlogs.length; i++) {
        if(html === existErrlogs[i].innerHTML) {
          // ignore
          return;
        }
      }

      $_("errlog-wrap").style.display = "";

      var singleErrlogNode = document.createElement("div");
      singleErrlogNode.className = "single-log";

      var rndId = "id-" + Math.floor(Math.random() * 9e9 + 9e9).toString(36);
      singleErrlogNode.id = rndId;

      $_("errlog").appendChild(singleErrlogNode);
      $_(rndId).innerHTML = html;
    }

    if(window.isMobile) {
      $_("city").style.height = "45vh";
      $_("city").style.width = "96vw";
      $_("prov").style.height = "45vh";
      $_("prov").style.width = "96vw";
      $_("news-wrap").style.fontSize = "1.1em";
      $_("news-wrap").style.width = "96vw";
    }
  </script>
  
  <script id="rawData"></script>
  <script id="allNews"></script>
  <script>
    var rawData = [], allNews = [];
    function update() {
      rawData = [];
      allNews = [];
      document.body.removeChild($_("rawData"));
      var dataNode = document.createElement("script");
      dataNode.id = "rawData";
      dataNode.src = "/api/patients-jsonp.js?t=" + Date.now();
      document.body.appendChild(dataNode);

      document.body.removeChild($_("allNews"));
      var newsNode = document.createElement("script");
      newsNode.id = "allNews";
      newsNode.src = "/api/news-jsonp.js?t=" + Date.now();
      document.body.appendChild(newsNode);

      window.cityChart = echarts.init($_("city"));
      window.provChart = echarts.init($_("prov"));

      var cityResizeFunc = debounce(cityChart.resize, 200);
      var provResizeFunc = debounce(provChart.resize, 200);
      window.addEventListener("resize", () => {
        cityResizeFunc();
        provResizeFunc();
      });

      var dataTimerId = setInterval(() => {
        if(rawData.length === 0) return;
        var provinces = rawData.filter(o => o.type === "prov");
        var totalObj  = rawData.filter(o => o.type === "ctry")[0];
        var totalConfirmed = totalObj.confirmed || provinces.reduce((a, b) => a + b.confirmed, 0);
        var totalSuspect   = totalObj.suspect   || provinces.reduce((a, b) => a + b.suspect  , 0);
        var totalCured     = totalObj.cured     || provinces.reduce((a, b) => a + b.cured    , 0);
        var totalDead      = totalObj.dead      || provinces.reduce((a, b) => a + b.dead     , 0);
        var suspectText = "";
        if(totalSuspect !== 0) {
          suspectText = `疑似 ${totalSuspect} 例，`;
        }
        var info = `总计：确诊 ${totalConfirmed} 例，${suspectText}治愈 ${totalCured} 例，死亡 ${totalDead} 例。`;
        $_("info").innerText = info;
        perCity(cityChart);
        perProv(provChart);
        $_("loading").innerText = "";
        clearInterval(dataTimerId);
      }, 200);

      var newsTimerId = setInterval(() => {
        if(allNews.length === 0) return;
        writeNews();
        clearInterval(newsTimerId);
      }, 200);
    }

    update();
    setInterval(update, 5 * 60 * 1000);

    function writeNews() {
      var node = $_("news");
      // this is a <pre> node, so we use "\n" instead of "<br />"
      node.innerHTML = allNews.join("\n".repeat(2) + "-".repeat(20) + "\n".repeat(2));
    }
  </script>
</body>
</html>
